@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h2 class="display-4">AIRES FREE</h2>

    <h3>Bem vindo ao nosso site!</h3>

    <h4>Aqui você encontra as melhores promoções de passagens aereas!</h4>
    
</div>
